/*  создать класс  commentListContainer*/
.commentListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
/* display flex */
/* карчтоки переносились автоматически на новую строку */

/* импортировать в файл компонета и применить стили к диву который оборачивает наши карточки */
